@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}

html {
    font-family: 'Noto Sans SC Sliced', PingFangSC-Light, Microsoft YaHei UI, Microsoft YaHei, helvetica, sans-serif;
    font-weight: 300;
    color: #000;
}

form,
input,
button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

input::-webkit-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-size: 16px;
}

ul,
li {
    display: block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#content {
    width: 100%;
    height: 100%;
}

.con {
    width: 100%;
    transition: 1s all;
    margin: auto;
    min-width: 320px;
    height: 380px;
    position: absolute;
    left: 0;
    top: -100px;
    right: 0;
    bottom: 0;
}

.con .shitlogo {
    position: relative;
    width: 480px;
    height: 120px;
    margin: 10px auto;
    background: url(icon/title.svg) no-repeat center/cover;
}

.con .shitlogo a {
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
}

.con .search {
    max-width: 680px;
    position: relative;
    width: calc(100% - 60px);
    min-width: 320px;
    margin: 0 auto;
}

.con .search form {
    width: 100%;
    height: 50px;
    display: block;
    margin: 10px auto 30px;
    position: relative;
}

.con .search form .wd {
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid #ddd;
    border-radius: 25px;
    line-height: 100%;
    text-indent: 20px;
    font-size: 18px;
}

.con .search form .wd:focus {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: #fff
}

.con .search form button {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    z-index: 10;
    right: 6px;
    top: 6px;
    cursor: pointer;
    font-size: 22px;
    line-height: 40px;
    border-radius: 50%;
    color: #777;
}

.foot {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    color: #999;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.home {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 70px;
    top: 10px;
    z-index: 200;
    cursor: pointer;
}

.home a {
    font-size: 20px;
    color: #999;
    line-height: 50px;
    display: block;
    text-align: center;
}

#rightmenu {
    width: 50px;
    height: 50px;
    transform: scale(0.8);
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 2000000;
    cursor: pointer;
    transition: 0.5s;
}

#leftmenu {
    width: 50px;
    height: 50px;
    transform: scale(0.8);
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 2000000;
    cursor: pointer;
    transition: 0.5s;
}

#rightmenu i {
    position: absolute;
    left: 0;
    right: 0;
    margin: 24px auto;
    width: 30px;
    height: 2px;
    background: #777;
}

#leftmenu i {
    position: absolute;
    left: 0;
    right: 0;
    margin: 24px auto;
    width: 30px;
    height: 2px;
    background: #777;
}

#rightmenu i:before {
    content: '';
    width: 20px;
    height: 2px;
    top: -8px;
    background: #777;
    position: absolute;
    right: 0;
}

#leftmenu i:before {
    content: '';
    width: 20px;
    height: 2px;
    top: -8px;
    background: #777;
    position: absolute;
    left: 0;
}

#rightmenu i:after {
    content: '';
    width: 20px;
    height: 2px;
    bottom: -8px;
    background: #777;
    position: absolute;
    left: 0;
}

#leftmenu i:after {
    content: '';
    width: 20px;
    height: 2px;
    bottom: -8px;
    background: #777;
    position: absolute;
    right: 0;
}

#rightmenu.on {
    right: 380px;
    background: #e1cf76;
    border-radius: 25px;
    box-shadow: 0 6px 8px rgba(36, 159, 253, .3);
}

#leftmenu.on {
    left: 380px;
    background: #e1cf76;
    border-radius: 25px;
    box-shadow: 0 6px 8px rgba(36, 159, 253, .3);
}

#rightmenu.on i {
    width: 20px;
    background: #fff;
}

#leftmenu.on i {
    width: 20px;
    background: #fff;
}

#rightmenu.on i:before {
    top: -5px;
    transform: rotate(45deg);
    width: 14px;
    right: -1px;
    left: auto;
    background: #fff;
}

#leftmenu.on i:before {
    top: -5px;
    transform: rotate(-45deg);
    width: 14px;
    left: -1px;
    right: auto;
    background: #fff;
}

#rightmenu.on i:after {
    bottom: -5px;
    transform: rotate(-45deg);
    width: 14px;
    right: -1px;
    left: auto;
    background: #fff;
}

#leftmenu.on i:after {
    bottom: -5px;
    transform: rotate(45deg);
    width: 14px;
    left: -1px;
    right: auto;
    background: #fff;
}

.rightlist {
    width: 337px;
    padding: 0 20px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0px;
    z-index: 2000;
    background: #222d46;
    transition: 0.3s all linear;
}

.leftlist {
    width: 337px;
    padding: 0 20px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0px;
    z-index: 2000;
    background: #222d46;
    transition: 0.3s all linear;
}

.rightlist.closed {
    right: -380px;
}

.leftlist.closed {
    left: -380px;
}

.rightlist ul {
    width: 330px;
    float: left;
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.leftlist ul {
    width: 330px;
    float: left;
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.rightlist ul li {
    float: left;
    margin: 5px;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;
    line-height: 30px;
}

.leftlist ul li {
    float: left;
    margin: 5px;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;
    line-height: 30px;
}

.rightlist ul li a {
    width: 100%;
    border-radius: 5px;
    transition: 0.2s all linear;
    height: 100%;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    background: #293550;
    text-align: left;
    font-size: 12px;
}

.leftlist ul li a {
    width: 100%;
    border-radius: 5px;
    transition: 0.2s all linear;
    height: 100%;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    background: #293550;
    text-align: left;
    font-size: 12px;
}

.rightlist ul li:hover a {
    color: #fff;
    background-color: #e1cf76;
    background-image: linear-gradient(135deg, rgba(35, 153, 255) 0%, rgba(84, 175, 253) 100%);
    box-shadow: 0 3px 3px rgba(0, 40, 70, .3);
}

.leftlist ul li:hover a {
    color: #fff;
    background-color: #e1cf76;
    background-image: linear-gradient(135deg, rgba(35, 153, 255) 0%, rgba(84, 175, 253) 100%);
    box-shadow: 0 3px 3px rgba(0, 40, 70, .3);
}

.rightlist ul li.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0px 0 0;
    text-align: left;
    text-indent: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.leftlist ul li.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0px 0 0;
    text-align: left;
    text-indent: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


.wth {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 100000;
    height: 22px;
}

img.icon {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 8px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fcfcfc;
}

svg.icon {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 8px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fcfcfc;
}

.rightlist ul li.title svg.icon {
    width: 20px;
    height: 20px;
}

.leftlist ul li.title svg.icon {
    width: 20px;
    height: 20px;
}

@media (max-width: 640px) {
    .con {
        top: 0px;
    }

    .con .shitlogo {
        width: 320px;
        height: 100px;
    }

    .con .search form .wd:focus {
        background: #f1f1f1;
        box-shadow: none;
        border-color: #ccc
    }

    .con .search form button {
        border-radius: 25px;
    }

    #rightmenu.on {
        right: 270px;
    }

    #leftmenu.on {
        left: 270px;
    }

    .rightlist {
        width: 227px;
    }

    .leftlist {
        width: 227px;
    }

    .rightlist ul {
        width: 220px;
    }

    .leftlist ul {
        width: 220px;
    }

    .home,
    #rightmenu {
        top: 5px;
    }

    #leftmenu {
        top: 5px;
    }

    .wth {
        color: #777;
        left: 10px;
        top: 20px;
        overflow: hidden;

    }

    .wth.hidden {
        display: none;
    }
}

@media (max-height: 420px) {
    .con {
        margin: 0;
        top: 0px;
    }

    .con .search form .wd {
        text-indent: 50px;
    }

    .con .search form:after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 10px;
        top: 10px;
        background: url(icon/logo.svg) no-repeat center/cover;
        border-radius: 50%;
        overflow: hidden;
    }

    .con .shitlogo {
        display: none;
    }

    .home,
    #rightmenu,
    #leftmenu,
    .wth,
    .foot {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #162035;
    }

    .wth {
        color: #bbb;
    }

    .con .search form .wd:focus {
        background: #293550;
        border: 1px solid #162035;
    }

    .con .search form .wd {
        border: 1px solid #293550;
        color: #bbb;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #222d46;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #293550;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #293550;
}

::-webkit-scrollbar-corner {
    background: #222d46;
}